/* Navbar Section */
$header-bg-color: #E1E1E1;
$header-footer-months-color: #7F6E5E;
$mobile-month-title-bg-color: #806E5E;
$mobile-dropdown-menu-bg-color: #C7BCB3;
$mobile-months-color: #806E5E;
$mobile-months-active-bg-color: #BCAFA4;
$mobile-months-divider-bg-color: #806E5E;
