$path: '/e2/rv5_images/yearinphotos/2015/'; 

$body-background-img: $path + 'bark.jpg';
$header-inner-bg-img: $path + 'header_bg_143.jpg';
$header-army-star: $path + 'army_star.png';
$header-branding: $path + 'branding.png';
$header-shadow: $path + 'header_shadow.png';
$footer-shadow: $path + 'footer_shadow.png';
$footer-inner: $path + 'footer.jpg';
