/* last update 2015-01-07 1450 BMN */
@import 'reset';
@import 'images';
@import 'defaults';
@import 'colors';

body {
    font-size: $default-body-font;
    line-height: $default-body-line-height;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url($body-background-img);
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.hide {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

@media (max-width: 389px) {
    #featureBar {
        display: none;
    }
}

@media (max-width: 480px) {
    #featureBar {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #featureBar {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1084px) {
    #featureBar {
        display: none;
    }
}

#header_wrap {
    width: 100%;
    padding: 0;
    height: 141px;
    background-color: $header-bg-color;
}

@media (max-width: 389px) {
    #header_wrap {
        display: none;
    }
}

@media (max-width: 480px) {
    #header_wrap {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #header_wrap {
        display: none;
    }
}

#header_wrap #header_inner {
    margin: 0 auto;
    background: url($header-inner-bg-img) no-repeat scroll center center;
    height: 141px;
    position: relative;
}

#header_wrap #header_inner .inner_container {
    margin: 0 auto;
    padding-top: 20px;
    width: 733px;
}

#header_wrap #header_inner #army_star {
    float: left;
    margin-bottom: 12px;
}

#header_wrap #header_inner #army_star a {
    height: 77px;
    width: 61px;
    display: block;
    background-image: url($header-army-star);
}

#header_wrap #header_inner #social_media {
    display: block;
    float: right;
    width: 90px;
    height: 77px;
}

#header_wrap #header_inner #banner {
    width: 652px;
    height: 53px;
    float: left;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 11px;
    background-image: url($header-branding);
}

#header_wrap #header_inner #banner a {
    display: block;
    width: 652px;
    height: 53px;
}

#header_wrap #header_inner #header_nav {
    clear: both;
    padding: 0;
}

#header_wrap #header_inner #header_nav ul {
    float: none !important;
    margin: 0 auto;
    text-align: center;
}

#header_wrap #header_inner #header_nav ul li {
    font-family: 'Bitter', Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 1.5em;
    display: inline;
    float: none !important;
    height: 34px;
    width: 53px;
    margin: 0 3px;
}

#header_wrap #header_inner #header_nav ul li a {
    color: $header-footer-months-color;
    display: inline;
    padding: 5px 8px 6px;
}

#header_wrap #header_inner #header_nav ul li a:hover,
#header_wrap #header_inner #header_nav ul li a:focus {
    text-decoration: none;
    background-color: $header-footer-months-color;
    color: #F7F7F7;
}

#header_wrap #header_inner #header_nav ul li a.active {
    background-color: $header-footer-months-color;
    color: #F7F7F7;
}

.header_shadow {
    background-image: url($header-shadow);
    height: 27px;
    margin: 0 auto;
    width: 887px;
}

@media (max-width: 389px) {
    .header_shadow {
        display: none;
    }
}

@media (max-width: 480px) {
    .header_shadow {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .header_shadow {
        display: none;
    }
}

.footer_shadow {
    background-image: url($footer-shadow);
    height: 27px;
    margin: 0 auto;
    width: 887px;
}

@media (max-width: 389px) {
    .footer_shadow {
        display: none;
    }
}

@media (max-width: 480px) {
    .footer_shadow {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .footer_shadow {
        display: none;
    }
}

#footer_wrap {
    width: 100%;
    background-color: #e1e1e1;
}

@media (max-width: 389px) {
    #footer_wrap {
        display: none;
    }
}

@media (max-width: 480px) {
    #footer_wrap {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #footer_wrap {
        display: none;
    }
}

@media (min-width: 980px) {
    #footer_wrap {
        margin-bottom: 0;
    }
}

#footer_wrap #footer_inner {
    margin: 0 auto;
    background: url($footer-inner) repeat-y scroll center center #e1e1e1;
    min-height: 95px;
    overflow: hidden;
}

#footer_wrap #footer_inner #footer_nav ul {
    text-align: center;
    margin: 0 auto;
}

#footer_wrap #footer_inner #footer_nav ul li {
    font-family: 'Bitter', Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 1.5em;
    display: inline;
    height: 36px;
    margin: 0 3px;
    width: 50px;
}

#footer_wrap #footer_inner #footer_nav ul li a {
    color: $header-footer-months-color;
    padding: 5px 8px 6px;
}

#footer_wrap #footer_inner #footer_nav ul li a:hover,
#footer_wrap #footer_inner #footer_nav ul li a:focus {
    text-decoration: none;
    background-color: $header-footer-months-color;
    color: #F7F7F7;
}

#footer_wrap #footer_inner #footer_nav ul li a.active {
    background-color: $header-footer-months-color;
    color: #F7F7F7;
}

#footer_wrap #footer_inner .footer_links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#footer_wrap #footer_inner .footer_links li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

#footer_wrap #footer_inner .footer_links li a {
    color: $mobile-months-divider-bg-color;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
}

@media (max-width: 389px) {
    #main_body {
        margin-top: 120px;
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    #main_body {
        margin-top: 120px;
        padding: 0 20px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #main_body {
        margin-top: 120px;
        padding: 0 20px;
    }
}

@media (min-width: 769px) and (max-width: 1084px) {
    #main_body {
        padding: 0 20px;
    }
}

#main_body #month_gallery {
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    overflow: hidden
}

#main_body #month_gallery .month_thumb {
    position: relative;
    float: left;
}

#main_body #month_gallery .month_thumb span.month_link {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000', endColorstr='#b3000000', GradientType=0);
    position: absolute;
    bottom: 5%;
    z-index: 101;
    padding: 2px 9px;
}

#main_body #month_gallery .month_thumb span.month_link a {
    display: block;
    margin: 0;
    position: relative;
    z-index: 102;
    color: #F7F7F7;
    font-size: 28px;
    padding: 2px 9px;
    font-family: 'Bitter', Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
}

@media (max-width: 389px) {
    #main_body #month_gallery .month_thumb span.month_link a {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #main_body #month_gallery .month_thumb span.month_link a {
        font-size: 20px;
    }
}

#main_body #month_gallery .month_thumb a.thumb {
    width: 320px;
    height: 215px;
    z-index: 90;
}

#main_body #month_gallery .month_thumb a.thumb span {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 0;
}

#main_body #month_gallery .month_thumb a.thumb span.january {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/january.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #month_gallery .month_thumb a.thumb span.february {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/february.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #month_gallery .month_thumb a.thumb span.march {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/march.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #month_gallery .month_thumb a.thumb span.april {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/april.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top
}

#main_body #month_gallery .month_thumb a.thumb span.may {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/may.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #month_gallery .month_thumb a.thumb span.june {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/june.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #month_gallery .month_thumb a.thumb span.july {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/july.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #month_gallery .month_thumb a.thumb span.august {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/august.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #month_gallery .month_thumb a.thumb span.september {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/september.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #month_gallery .month_thumb a.thumb span.october {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/october.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #month_gallery .month_thumb a.thumb span.november {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/november.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #month_gallery .month_thumb a.thumb span.december {
    background-image: url("/e2/rv5_images/yearinphotos/2015/thumbnails/december.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}

#main_body #previous_yip {
    background: none repeat scroll 0 0 #d9d9d9;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    margin: 35px auto;
    padding: 10px 18px
}

#main_body #previous_yip p {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 1.3em;
    color: #4E4E4E
}

#main_body #previous_yip p a {
    color: #4E4E4E;
    font-weight: 700
}

#main_body .resources {
    clear: both;
    margin-bottom: 50px;
    overflow: hidden;
    padding-left: 5px
}

#main_body .resources h2,
#main_body .resources h3 {
    font-family: 'Bitter', Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
    text-shadow: 0 -2px 1px rgba(18, 18, 18, 0.7);
    color: #F7F7F7;
    font-weight: 700
}

#main_body .resources h2 {
    font-size: 3em
}

#main_body .resources div {
    padding-left: 0
}

@media (max-width: 389px) {
    #main_body .resources .downloads {
        margin-bottom: 50px
    }
}

@media (max-width: 480px) {
    #main_body .resources .downloads {
        margin-bottom: 50px
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #main_body .resources .downloads {
        margin-bottom: 50px
    }
}

#main_body .resources .calendar_download_column img {
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    margin: 5px 10px 5px 0
}

#main_body .resources .calendar_download_column p a {
    font-size: 13px;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #F7F7F7
}

#main_body .resources .calendar_column {
    float: left
}

#main_body .resources .calendar_column img {
    -webkit-box-shadow: 0px 0px 3px #000;
    -moz-box-shadow: 0px 0px 3px #000;
    box-shadow: 0px 0px 3px #000;
    float: left;
    margin: 5px 10px 5px 0
}

#main_body .resources .calendar_column div.column {
    width: 300px;
    float: left;
    padding-left: 3px
}

#main_body .resources .calendar_column div.column div.wallpaper_cell {
    position: relative;
    clear: both
}

#main_body .resources .calendar_column div.column div.wallpaper_cell div.cell_text {
    float: left;
    position: relative;
    top: 44px
}

#main_body .resources .calendar_column div.column div.wallpaper_cell div.cell_text h4,
#main_body .resources .calendar_column div.column div.wallpaper_cell div.cell_text p,
#main_body .resources .calendar_column div.column div.wallpaper_cell div.cell_text p a {
    font-family: verdana, helvetica, arial, sans-serif;
    color: #F7F7F7
}

#main_body .resources .calendar_column div.column div.wallpaper_cell div.cell_text h4 {
    font-size: 13px;
    font-weight: 700
}

#main_body .resources .calendar_column div.column div.wallpaper_cell div.cell_text p {
    font-size: 13px;
    font-weight: normal
}

#main_body .resources ul li {
    margin-bottom: 8px
}

#main_body .resources ul li a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
    color: #F7F7F7
}

#month_main_body {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width: 900px;
}

@media (min-width: 1085px) and (max-width: 1199px) {
    #month_main_body {
        width: 100%
    }
}

@media (min-width: 769px) and (max-width: 1084px) {
    #month_main_body {
        width: 100%
    }
}

@media (max-width: 389px) {
    #month_main_body {
        width: 100%
    }
}

@media (max-width: 480px) {
    #month_main_body {
        width: 100%
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #month_main_body {
        width: 100%
    }
}

@media (max-width: 480px) {
    #month_main_body #month_photos .month_title {
        position: fixed;
        right: -12px;
        left: 0px;
        height: 50px;
        z-index: 1000;
        background-color: $mobile-month-title-bg-color;
        top: 100px;
        margin-top: 9px;
        width: 100%
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #month_main_body #month_photos .month_title {
        position: fixed;
        right: -12px;
        left: 0px;
        height: 50px;
        z-index: 1000;
        background-color: $mobile-month-title-bg-color;
        top: 100px;
        margin-top: 9px;
        width: 100%
    }
}

@media (max-width: 389px) {
    #month_main_body #month_photos .month_title {
        position: fixed;
        right: -12px;
        left: 0px;
        height: 50px;
        z-index: 1000;
        background-color: $mobile-month-title-bg-color;
        top: 100px;
        margin-top: 9px;
        width: 100%
    }
}

#month_main_body #month_photos .month_title h2 {
    margin: 0;
    color: #E7E7E7;
    font-family: 'Bitter', Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 3em
}

@media (max-width: 480px) {
    #month_main_body #month_photos .month_title h2 {
        font-size: 1.875em;
        float: left;
        margin-top: 12px;
        padding-left: 15px
    }
}

@media (max-width: 389px) {
    #month_main_body #month_photos .month_title h2 {
        font-size: 1.875em;
        float: left;
        margin-top: 12px;
        padding-left: 15px
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #month_main_body #month_photos .month_title h2 {
        font-size: 1.875em;
        float: left;
        margin-top: 12px;
        padding-left: 15px
    }
}

#month_main_body #month_photos .month_title h2 .dropdown-menu {
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.176);
    border: none;
    color: #4f4a3f;
    font-family: Verdana, â€‹Geneva, â€‹sans-serif
}

@media (max-width: 389px) {
    #month_main_body #month_photos .month_title h2 .dropdown-menu {
        background-color: $mobile-dropdown-menu-bg-color;
        width: 50%
    }
}

@media (max-width: 480px) {
    #month_main_body #month_photos .month_title h2 .dropdown-menu {
        background-color: $mobile-dropdown-menu-bg-color;
        width: 50%
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #month_main_body #month_photos .month_title h2 .dropdown-menu {
        background-color: $mobile-dropdown-menu-bg-color;
        width: 50%
    }
}

#month_main_body #month_photos .month_title h2 .dropdown-menu .divider {
    margin: 0 10px
}

#month_main_body #month_photos .month_title h2 .dropdown-menu#right-dropdown-menu {
    border-left: 1px solid #4f4a3f
}

#month_main_body #month_photos .month_title.open ul {
    display: block
}

#month_main_body #month_photos .month_photo {
    background: none repeat scroll 0 0 #E7E7E7;
    margin: 5px 5px 40px 5px;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000
}

#month_main_body #month_photos .month_photo .photo_info {
    padding: 12px;
    width: 100%
}

#month_main_body #month_photos .month_photo .photo_info .clearboth {
    clear: both
}

#month_main_body #month_photos .month_photo .photo_info .info_col_left {
    float: left;
    width: 74%
}

@media (max-width: 389px) {
    #month_main_body #month_photos .month_photo .photo_info .info_col_left h3,
    #month_main_body #month_photos .month_photo .photo_info .info_col_left #p-caption {
        display: none
    }
}

@media (max-width: 480px) {
    #month_main_body #month_photos .month_photo .photo_info .info_col_left h3,
    #month_main_body #month_photos .month_photo .photo_info .info_col_left #p-caption {
        display: none
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #month_main_body #month_photos .month_photo .photo_info .info_col_left h3,
    #month_main_body #month_photos .month_photo .photo_info .info_col_left #p-caption {
        display: none
    }
}

@media screen and (min-width: 769px) and (max-width: 872px) {
    #month_main_body #month_photos .month_photo .photo_info .info_col_left {
        width: 68%
    }
}

@media (max-width: 389px) {
    #month_main_body #month_photos .month_photo .photo_info .info_col_left {
        width: 39%
    }
}

@media (max-width: 480px) {
    #month_main_body #month_photos .month_photo .photo_info .info_col_left {
        width: 39%
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #month_main_body #month_photos .month_photo .photo_info .info_col_left {
        width: 39%
    }
}

#month_main_body #month_photos .month_photo .photo_info .info_col_left h3 {
    font-size: 1em;
    margin: 0 0 5px 0;
    padding-top: 1px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    color: #3D3D3D
}

#month_main_body #month_photos .month_photo .photo_info .info_col_left p {
    font-family: Verdana, â€‹Geneva, â€‹sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 0
}

#month_main_body #month_photos .month_photo .photo_info .info_col_right {
    float: right
}

#month_main_body #month_photos .month_photo .photo_info .info_col_right a {
    color: #4E4E4E;
    font-size: 1em;
    font-family: Verdana, Geneva, sans-serif;
    height: 26px;
    margin: 0 0 5px 0;
    vertical-align: baseline;
    display: block
}

@media (max-width: 480px) {
    #month_main_body #month_photos .month_photo .photo_info .info_col_right a {
        margin: 0 0 5px 0
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #month_main_body #month_photos .month_photo .photo_info .info_col_right a {
        margin: 0 0 5px 0
    }
}

@media (min-width: 769px) and (max-width: 1084px) {
    #month_main_body #month_photos .month_photo .photo_info .info_col_right a {
        margin: 0 0 5px 0
    }
}

#month_main_body #month_photos .month_photo .photo_info .info_col_right a img {
    height: 16px;
    margin-right: 5px;
    vertical-align: text-bottom;
    width: 16px;
}

#month_main_body #month_photos .month_photo .photo_info .info_col_right .fb {
    text-align: right;
    iframe { width: 128px!important; }
}

#month_main_body #month_photos .month_photo .photo_info .info_col_right .glyphicon-circle-arrow-down {
    margin-right: 5px !important
}

#month_main_body #month_photos .nav_arrow_next,
#month_main_body #month_photos .nav_arrow_prev {
    font-family: 'Bitter', Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 1.75em
}

@media (max-width: 389px) {
    #month_main_body #month_photos .nav_arrow_next,
    #month_main_body #month_photos .nav_arrow_prev {
        display: none
    }
}

@media (max-width: 480px) {
    #month_main_body #month_photos .nav_arrow_next,
    #month_main_body #month_photos .nav_arrow_prev {
        display: none
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #month_main_body #month_photos .nav_arrow_next,
    #month_main_body #month_photos .nav_arrow_prev {
        display: none
    }
}

#month_main_body #month_photos .nav_arrow_prev {
    float: left
}

#month_main_body #month_photos .nav_arrow_prev a.prev_month {
    background-image: url("/e2/rv5_images/yearinphotos/2015/prev_btn.png");
    background-repeat: no-repeat;
    height: 54px;
    float: right;
    text-align: right;
    padding-top: 10px;
    padding-right: 22px;
    color: #4E4E4E;
    width: 268px
}

#month_main_body #month_photos .nav_arrow_next {
    float: right;
    width: 227px
}

#month_main_body #month_photos .nav_arrow_next a.next_month {
    background-image: url("/e2/rv5_images/yearinphotos/2015/next_btn.png");
    background-repeat: no-repeat;
    height: 54px;
    display: block;
    padding-top: 10px;
    padding-left: 21px;
    color: #4E4E4E
}

#month_main_body #nav_float {
    box-sizing: content-box;
    width: 41px;
    margin-top: 2.7%;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000
}

@media (max-width: 389px) {
    #month_main_body #nav_float {
        display: none
    }
}

@media (max-width: 480px) {
    #month_main_body #nav_float {
        display: none
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #month_main_body #nav_float {
        display: none
    }
}

@media (min-width: 769px) and (max-width: 1084px) {
    #month_main_body #nav_float {
        display: none
    }
}

@media (min-width: 1085px) and (max-width: 1199px) {
    #month_main_body #nav_float {
        display: none
    }
}

#month_main_body #nav_float ul {
    box-sizing: content-box;
    list-style: none;
    margin-bottom: 0px
}

#month_main_body #nav_float ul li {
    box-sizing: content-box;
    margin: 0
}

#month_main_body #nav_float ul li a {
    box-sizing: content-box;
    display: block;
    width: 50px;
    height: 33px;
    margin: 0;
    border: 3px solid #c0c0c0
}

#month_main_body #nav_float ul li a:hover,
#month_main_body #nav_float ul li a:focus,
#month_main_body #nav_float ul li a:active {
    border: 3px solid #e7e7e7
}

#month_main_body #nav_float ul li a.current {
    border: 3px solid #e7e7e7
}

#modal-btn {
    display: none;
    font-weight: 700;
    font-size: 1em
}

@media (max-width: 389px) {
    #modal-btn {
        display: block;
        cursor: pointer
    }
}

@media (max-width: 480px) {
    #modal-btn {
        display: block;
        cursor: pointer
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #modal-btn {
        display: block;
        cursor: pointer
    }
}

#modal-btn:hover {
    cursor: pointer
}

pre {
    tab-size: 8
}

@media screen and (max-width: 768px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left .4s
    }
    .side-collapse-container.out {
        left: 200px
    }
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width .4s
    }
    .side-collapse.in {
        width: 0
    }
}

#mobile-nav {
    display: none;
    height: 110px
}

@media (max-width: 389px) {
    #mobile-nav {
        display: block
    }
    #mobile-nav #mobile-banner {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        margin-top: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute
    }
}

@media (max-width: 480px) {
    #mobile-nav {
        display: block
    }
    #mobile-nav #mobile-banner {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        margin-top: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #mobile-nav {
        display: block
    }
    #mobile-nav #mobile-banner {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        margin-top: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute
    }
}

#mobile-nav #logo-nav-brand {
    height: 77px;
    width: 61px;
    display: block;
    background-image: url("/e2/rv5_images/yearinphotos/2015/army_star.png")
}

#mobile-nav #logo-nav-brand #selector {
    background: url("../../../_images/yearinphotos/2014/logo_2014.png") no-repeat scroll top left;
    width: 652px;
    height: 53px
}

@media (max-width: 389px) {
    #mobile-nav #logo-nav-brand {
        margin: 5px 5px 5px 15px
    }
}

@media (max-width: 480px) {
    #mobile-nav #logo-nav-brand {
        margin: 5px 5px 5px 15px
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #mobile-nav #logo-nav-brand {
        margin: 5px 5px 5px 15px
    }
}

#mobile-sub-nav {
    display: none
}

@media (max-width: 389px) {
    #mobile-sub-nav {
        display: block;
        top: 72px;
        background-color: #F8F8EC
    }
}

@media (max-width: 480px) {
    #mobile-sub-nav {
        display: block;
        top: 72px;
        background-color: #F8F8EC
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #mobile-sub-nav {
        display: block;
        top: 72px;
        background-color: #F8F8EC
    }
}

@media (max-width: 389px) {
    #container-id {
        padding-top: 185px
    }
}

@media (max-width: 480px) {
    #container-id {
        padding-top: 185px
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #container-id {
        padding-top: 185px
    }
}

.container {
    width: 100%
}

@media (min-width: 980px) {
    .container {
        width: 90%
    }
}

.img-responsive {
    width: 100%
}

#mobile-down-btn {
    display: none
}

@media (max-width: 389px) {
    #mobile-down-btn {
        display: block;
        float: right;
        font-size: 1.75em;
        background-color: #67584C;
        width: 50px;
        height: 50px
    }
}

@media (max-width: 480px) {
    #mobile-down-btn {
        display: block;
        float: right;
        font-size: 1.75em;
        background-color: #67584C;
        width: 50px;
        height: 50px
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #mobile-down-btn {
        display: block;
        float: right;
        font-size: 1.75em;
        background-color: #67584C;
        width: 50px;
        height: 50px
    }
}

#mobile-down-btn:hover {
    cursor: pointer
}

#mobile-down-btn img {
    margin-left: 13px;
    margin-top: 16px;
    width: 25px
}

#footer_info_links {
    display: none;
    border-radius: 0px;
    background-color: #f5f5f5;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    font-size: 20px !important
}

@media (max-width: 389px) {
    #footer_info_links {
        display: block;
        .well { padding-bottom: 0px; }
    }
}

@media (max-width: 480px) {
    #footer_info_links {
        display: block;
        .well { padding-bottom: 0px; }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #footer_info_links {
        display: block;
        .well { padding-bottom: 0px; }
    }
}

#footer_info_links a:link {
    text-decoration: none;
    color: $header-footer-months-color;
    display: block
}

#footer_info_links a:visited {
    text-decoration: none;
    color: #716b5f
}

#footer_info_links a:hover {
    text-decoration: none
}

#footer_info_links.well {
    margin-bottom: 0;
}

.divider {
    height: 1px;
    margin: 9px 0px;
    overflow: hidden;
    background-color: $mobile-months-divider-bg-color
}

.no-gutter {
    padding: 0
}

.navbar-brand {
    max-height: 113px;
    height: auto !important
}

@media (max-width: 480px) {
    .navbar-brand {
        margin-top: 5px
    }
}

@media (max-width: 389px) {
    .navbar-brand {
        margin-top: 10px
    }
}

.dropdown-menu {
   li {
      a { color: $mobile-months-color!important; }
   }

   li.active {
      a, a:hover, a:focus {
          background-color: $mobile-months-active-bg-color!important;
      }
   }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: #bcafa4!important;
}

.addThisContainer {
    margin: 0 auto;
    width: 655px;
    overflow: hidden
}

#addThis h2,
#shareClose {
    display: none
}

#addThis {
    font-family: Verdana, Geneva, sans-serif;
    font-size: .9em;
    letter-spacing: 0;
    float: right;
    width: 650px;
    background: #d9d9d9;
    border: 1px solid #c0bfbb;
    margin: 3em 0 .7em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

#addThis ul {
    display: block;
    float: left;
    list-style: none outside none;
    width: 100%;
    margin: 0;
    padding: 6px 6px 12px 6px
}

#addThis ul#tops li {
    width: 15.9%;
    margin-left: 4px
}

#addThis li {
    float: left;
    width: 19.5%;
    margin: 2px 0;
    padding: 0
}

#addThis a {
    text-decoration: none
}

.share_sprite .textLink {
    float: left;
    margin-left: 21px;
    width: 80px;
    display: block
}

.share_sprite {
    display: inline;
    float: left;
    height: 16px;
    width: 16px;
    margin: 4px
}

#tops .share_sprite .textLink {
    width: 80px
}

.facebook {
    background: url(/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat
}

.twitter {
    background: url(/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat
}

.googleplus {
    background: url(/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat
}

.pinterest {
    background: url(/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat
}

.stumbleupon {
    background: url(/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat
}

.reddit {
    background: url(/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat
}

.linkedin {
    background: url(/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat
}

.all {
    background: url(/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat
}

.share_sprite,
.share_sprite .textLink:hover,
.share_sprite .textLink:focus,
.share_sprite .textLink:active {
    color: #4E4E4E;
    text-decoration: underline;
    cursor: pointer
}